conode/conode
.idea

**/deploy/*
**/build/*
**/server_list
**/experiments/randlottery/randlottery
**/experiments/dkglottery/dkglottery
**/experiments/evoting/evoting
**/sign/sign
**/verify/verify
**/test_data/*
