conode/conode
.idea

**/.DS_Store
**/.ipynb_checkpoints/
**/deploy/*
**/build/*
**/server_list
**/experiments/randlottery/randlottery
**/experiments/dkglottery/dkglottery
**/experiments/evoting/evoting
**/sign/sign
**/verify/verify
**/scripts/*pdf
**/scripts/data/
**/experiments/microbenchmarks/dummy/
**/experiments/microbenchmarks/threshold/threshold
**/experiments/microbenchmarks/shuffle/shuffle

**/test_data/*csv
#**/test_data/save/*
**/test_data/save/bcast/*
**/test_data/save/v0/*
**/test_data/save/old/*
**/test_data/old/*
**/test_data/vm_local/*
